@import "../../node_modules/bootstrap/scss/bootstrap";

.checkout-card {
  background-color: rgb(255, 250, 250);
  border-radius: 0 20px 20px 0; 
  z-index: 10;
}

.checkout-title, .checkout-price {
  color: $red;
  font-weight: bold;
  font-size: 32px;
}

.checkout-price {
  span {
    color: $dark;
  }
}

.checkout-pizza {
  list-style: url('../assets/svg/pizza-black.svg');
}

.checkout-topping {
  color:$red;
}

.checkout-list {
  overflow-y: scroll;
  max-height: 470px;
}