@import "../../node_modules/bootstrap/scss/bootstrap";

#header {
  background-color: $red;
  min-height: 64px;
  font-size: 24px;
}

.wrapper {
}

.logo {
  width: 40px;
}

.github {
  img {
    margin: auto;
  }
}