@import "../../node_modules/bootstrap/scss/bootstrap";

.current-pizza {
  min-width: 500px;
  min-height: 450px;
  max-height: 450px;
  z-index: 100;
}


.previous-pizza, .next-pizza {
  cursor: pointer;
  opacity: 0.8;
  min-width: 350px;
  min-width: 350px;
  min-height: 300px;
  max-height: 300px;
  z-index: 5;
  .pizza-card-title {
    font-size: 20px;
  }
  .pizza-choice {
    font-size: 16px;
  }
}